.tittle {
  padding-bottom: 3rem;
  color: #111;
}

.features-section {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #ffffff;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.feature-card {
  width: 280px;
  height: 160px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.feature-inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 20px;
}

.feature-card:hover .feature-inner {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(255, 77, 77, 0.4);
}

.feature-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
  z-index: 1;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.feature-card:hover .feature-inner::before {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(0px);
}

.feature-overlay {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-overlay h3 {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  margin: 0;
}
.features-section .features-ver-mas-btn {
  margin-top: 2rem;
  background: transparent;
  border: 1px solid #111;
  color: #111;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.features-section .features-ver-mas-btn:hover {
  background: #00bcd4;
  border-color: #04adc4;
  color: white;
}